@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

* {
    font-family: 'Mandali',
        sans-serif;
    font-size: 20px;
}

/* index.php fajl  */
h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 250px;
}

.putnicidiv {
    margin-top: 80px;
}

.putnicidiv {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.putnicidiv button {
    width: 300px;
    height: 100px;
    border-radius: 25px;
}

/* index.php fajl  */

.pretraga {
    margin-top: 25px;
    margin-left: 700px;
}

#searchtabela,
#tabelasort {
    margin-top: 30px;
    width: 1200px;
    margin-left: 400px;
}

#tabelaPutnici {
    margin-top: 10px;
    width: 1200px;
    margin-left: 120px;
}

#dodajPutnika {
    margin-top: 35px;
    margin-left: 550px;
}

body{
    background-image: url("img/slika1.jpg" );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}